<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.MoVie.user.dao.UserDAO">
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
 			`loginId`
 			, `password`
 			, `name`
 			, `nickname`
 			, `profileUrl`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{loginId}
 			, #{password}
 			, #{name}
 			, #{nickname}
 			, null
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="existLoginId" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId}
 	</select>
 </mapper>