@charset "UTF-8";
header {height:80px;}
.contents {min-height:600px;}
#nav-bar {background-color:#e0e0e0; min-height:600px;}
.main-view {width:473px;}
.position-center {margin:0 auto 0;}
.domain-logo {font-size:150px;}
.domain-logo:hover {text-decoration: none}
.logo {font-size:100px;}
.logo:hover {text-decoration: none}
.my-page-number:hover {text-decoration: none}
.my-info {height:280px; width:1100px; background-color:#e0e0e0;}
.movie-box {min-height:800px; width:1150px; background-color: #e0e0e0;}
.my-movie-box {height:450px; width:1100px; background-color: #e0e0e0;}
.review-box {width:1100px; min-height:400px; background-color: #e0e0e0;}
.profileImage {border-radius: 70%; overflow: hidden;}
footer {height:80px;}
.btn-type1 {background-color:#404040; height:40px; width:100px;}
.btn-type2 {background-color:#e0e0e0; height:40px; width:100px;}
.btn-type3 {background-color: #bebebe; height:40px; width:100px;}



.myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
.myform input[type=radio]{
    display: none;
}
.myform label{
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

.myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
